<!-- <script
  async
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9661215205472475"
  crossorigin="anonymous"
></script> -->
<!-- mniyunsu.side -->
<!-- <ins
  class="adsbygoogle"
  style="
    display: block;
    min-width: 400px;
    width: 70%;
    min-height: 500px;
    max-height: 900px;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
  "
  data-ad-client="ca-pub-9661215205472475"
  data-ad-slot="4292154526"
  data-ad-format="auto"
  data-full-width-responsive="true"
></ins>
<script>
  ;(adsbygoogle = window.adsbygoogle || []).push({})
</script> -->

<script
  async
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9661215205472475"
  crossorigin="anonymous"
></script>
<!-- mniyunsu.side -->
<ins
  class="adsbygoogle"
  style="display: inline-block; width: 250px; height: 600px"
  data-ad-client="ca-pub-9661215205472475"
  data-ad-slot="4292154526"
></ins>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<!-- multiflex ad -->
<!-- <script
  async
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9661215205472475"
  crossorigin="anonymous"
></script>
<ins
  class="adsbygoogle"
  style="display: block"
  data-ad-format="autorelaxed"
  data-ad-client="ca-pub-9661215205472475"
  data-ad-slot="6918086359"
></ins>
<script>
  ;(adsbygoogle = window.adsbygoogle || []).push({})
</script> -->

<!-- 
<script
  async
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9661215205472475"
  crossorigin="anonymous"
></script>
<ins
  class="adsbygoogle"
  style="
    display: block;
    width: 360px;
    width: 70%;
    max-width: 360px;
    min-width: 250px;
    height: auto;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  "
  data-ad-client="ca-pub-9661215205472475"
  data-ad-slot="6918086359"
></ins>
<script>
  ;(adsbygoogle = window.adsbygoogle || []).push({})
</script> -->
<!-- 
<script
  async
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9661215205472475"
  crossorigin="anonymous"
></script>
<ins
  class="adsbygoogle"
  style="display: block"
  data-ad-format="fluid"
  data-ad-layout-key="-6t+ed+2i-1n-4w"
  data-ad-client="ca-pub-9661215205472475"
  data-ad-slot="7899995538"
></ins>
<script>
  ;(adsbygoogle = window.adsbygoogle || []).push({})
</script> -->
