<div id="topbutton" style="cursor: pointer" onclick="topFunction()">
  <i class="fas fa-angle-double-up"></i>
</div>
<script>
  window.onscroll = function () {
    scrollFunction();
  };
  function scrollFunction() {
    if (
      document.body.scrollTop > 100 ||
      document.documentElement.scrollTop > 100
    ) {
      document.getElementById('topbutton').style.display = 'block';
    } else {
      document.getElementById('topbutton').style.display = 'none';
    }
  }
  function topFunction() {
    window.scrollTo({ top: 0, left: 0, behavior: 'smooth' });
  }
</script>
